*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
body{
    background-color: #ecf0f1;
    color: #2c3e50;
}
header{
    display: flex;
    justify-content: space-between;
    padding: 0 5vh;
    align-items: center;
    height: 10vh;
    background-color: #ffffff;
    box-shadow: 10px 10px 100px #000000;
    color: #000000;
}
header .logo-name{
    height: 100%;
    display: flex;
    gap: 5vh;
    align-items: center;
    color: #34495E;
}
header .logo-name img{
    height: 80%;
    width: auto;
}
header .search-admin{
    width: 30%;
    height: 100%;
    display: flex;
    gap: 1vh;
    align-items: center;
}
header .search-admin form{
    width: 100%;
}
header .search-admin form input[type='search']{
    width: 70%;
    height: 30px;
    background-color: inherit;
    border: none;
    outline: none;
    padding: 0 2px;
    border-bottom: 1px solid #16A085;
}
header .search-admin form input[type='search']::placeholder{
    color: #7F8C8D;
}
header .search-admin form button{
    height: 30px;
    width: 30px;
    font-size: 15px;
    border: none;
    background-color: inherit;
}
header .search-admin form button:hover{
    cursor: pointer;
    background-color: #e6e6e6;
}
header .extras .notification{
    color: #95a5a6;
    position: relative;
}
header .extras .notification p{
    position: absolute;
    top: -2vh;
    background-color: #95a5a6;
    color: white;
    border-radius: 50%;
    padding: 3px;
    font-size: 10px;
}
header .extras{
    display: flex;
    gap: 5vh;
}
header .extras a{
    color: #E74C3C;
}
main{
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 1vh 0 0 20%;
    background-color: #ECF0F1;
}
main aside{
    position: absolute;
    top: 1vh;
    left: 0;
    width: 20%;
    height: 89vh;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
main aside .as-containers{
    background-color: #ececec;
    height: 23%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 2vh;
}
main aside .as-containers a{
    text-decoration: none;
    color: #5a2f09;
    margin: 0 2vh;
    font-size: 18px;
}
main aside .as-containers a:hover{
    text-decoration: underline;
}
main aside .as-containers h3{
    color: #a50a0a;
}


/* Withdraw modal */
.withdraw-modal{
    width: 30%;
    height: 60vh;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c3e50;
    color: #ffffff;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    padding: 10px 0;
    z-index: 100;
}
.withdraw-modal .logo-business{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 70%;
    gap: 10vh;
}
.withdraw-modal .logo-business img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}
.withdraw-modal form{
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.withdraw-modal form input[type='text']{
    height: 30px;
    border: none;
    outline: none;
    padding: 0 5px;
    border-bottom: 2px solid #e67e22;
}
.withdraw-modal form button{
    height: 30px;
    border: none;
    background-color: #e67e22;
    color: #ffffff;
}
.withdraw-modal form button:hover{
    cursor: pointer;
    border: 1px solid #2c3e50;
}



/* Feedback form */
.feedback-form{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: 60vh;
    background-color: #2c3e50;
    color: #ffffff;
    display: none;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 0 20px;
}
.feedback-form textarea{
    height: 30vh;
    min-height: 20vh;
    max-height: 50vh;
    resize: vertical;
    padding: 5px;
}
.feedback-form button{
    height: 30px;
    background-color: #e67e22;
    color: #ffffff;
    border: none;
    transition: 0.3s;
}
.feedback-form button:hover{
    cursor: pointer;
    border: 1px solid black;
    transition: 0.3s;
}