*{
    margin: 0;
    padding: 0;
    color: rgb(2, 13, 30);
}
html, body{
    height: 100%;
    width: 100%;
    overflow: hidden;

}
body{
    position:  relative;
}
:root {
    --pattern-color: rgb(240, 240, 240);
}
#login-container{
    position: absolute;
    border-radius: 10px;
    border: thin solid #e3e3e3;
    top: 25%;
    left: 30%;
    right: 25%;
    height: 50%;
    width: 40%;
    backdrop-filter: blur(10px);
    background: #ecf0f1;

}
form{
    position: absolute;
    text-align: center;
    line-height: 30px;
    width: 100%;
    height: 70%;
    background: inherit;
    backdrop-filter: blur(10px);
}
label{
    display: block;
    position: absolute;
    text-align: left;
    height: 20%;


}
#logo{
    height: 30%;
    display: block;
    background: #2c3e50;
    text-align: center;
    color: gold;
    border-radius: 10px 10px 0 0;
    line-height: 125px;
 }
input{
    outline: none;
    border: thin solid #989898;
    display: block;
    background: initial;
    height: 15%;
    position: absolute;
    border-radius: 10px;
    left: 2%;
    text-align: center;

}
button{
    position: absolute;
    word-wrap: anywhere;
    background: #2c3e50;
    border: none;
    border-radius: 5px;
    overflow-wrap: break-word;
    word-break: break-all;
    text-overflow: ellipsis;
    font-size: 11px;
    bottom: 2%;
    left: 45%;
    height: 15%;
    width: 12%;
    color: #cfd79f;
}
#first_label{
    top:0;
    left: 2%;

}
input[type='text']{
    top: 20%;
    width: 60%;

}
#second_label{
    top: 40%;
    left: 2%;
}
input[type='password']{
    top: 60%;
    width: 60%;
}
.dev-section{
    position: absolute;
    bottom: 5%;
    right: 5%;
    color: #8c8c8c;
    font-family: "Times New Roman";
}
svg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
button:hover{
    background: rgb(10, 74, 93);
}