/* I work on the two sections */
.title, .path{
    height: 5vh;
    width: 99%;
    background-color: #a50000;
    margin: 1vh 0 1vh 1%;
    display: flex;
    align-items: center;
    padding: 0 2vh;
    color: #ffffff;
}
.wrapper{
    display: flex;
}
main .sec{
    height: 75vh;
    margin-left: 1%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
    align-items: flex-start;
}
main .sec1{
    width: 40%;
}
main .sec2{
    width: 58%;
}
main .sec form{
    width: 65%;
    height: 30px;
    display: flex;
    gap: 1%;
}
main .sec1 form{
    width: 85%;
}
main .sec form input[type='search'], main .sec form input[type='date']{
    width: 89%;
    height: 100%;
    padding: 0 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}
main .sec form button{
    width: 10%;
    height: 100%;
    background-color: #e67e22;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    transition: 0.3s;
}
main .sec form button:hover{
    cursor: pointer;
    background-color: #002850;
    transition: 0.3s;
}
main .sec div{
    width: 100%;
    text-align: center;
}
main .sec .list{
    height: 60vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow: auto;
}
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 12px;
    text-align: left;
}
th, td {
    border: 1px solid #ddd;
    padding: 8px;
}
th{
    background-color: #002850;
    color: #ffffff;
    font-weight: bold;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
    color: #2c3e50;
}
tr:hover{
    background-color: #f1f1f1;
    color: #2c3e50;
}
th, td {
    padding: 12px;
    text-align: left;
}
tbody>td{
    text-align: center;
    font-size: 18px;
    color:  #9c4040;
    font-weight: 700;
    font-family: monospace;
}
tbody>td>span{
    color: rgb(0, 70, 35);
    font-size: 50px;
    font-family: monospace;
}

main .sec1 .bal{
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #002850;
    color: #ffffff;
}


/* Search Loader */
.loader-wrapper{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.loader-wrapper .overlay{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.2;
}
.loader{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #ffffff;
    border-bottom: 20px groove red;
    animation: spin 0.5s linear infinite;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}