{% extends 'a_base.html' %}
{% block include %}
{% load static %}
   <link rel="stylesheet" href="{% static 'css/stats.css'%}">
   <script src="{% static 'js/stats.js'%}"></script>
{% endblock %}
{% block main %}
   <section>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
        <div class="stat">
            <h3>Page visits</h3>
            <div class="info">
                <span>Raw visits: 200</span>
                <span>Item clicks: 101</span>
                <span>Purchases: 101</span>
            </div>
        </div>
   </section>
</main>
{% endblock %}