{% extends 'a_base.html' %}
{% block include %}
{% load static %}
   <link rel="stylesheet" href="{% static 'css/transactions.css' %}">
   <script src="{% static 'js/transactions.js' %}"></script>
{% endblock %}
{% block main %}
<section class="title">
    <h4><i class="fas fa-exchange-alt"></i> Transactions</h4>
</section>
<section class="path">
    <p>| Management > Transactions</p>
</section>
<section class="wrapper">
        <section class="sec sec1">
        <h2>Your Withdrawals</h2>
        <form action="#" method="get" data-url="{% url 'search' %}" class="search-form">
            <input type="search" name="query" placeholder="search by ref code..." required>
            <input type="hidden" name="transc_type" value="wit_transc">
            <button type="submit"><i class="fas fa-search"></i></button>
            <br><span style="font-size: 12px;">Or by date</span>
        </form> 
        <form action="#" method="get" data-url="{% url 'search' %}" class="search-form">
            <input type="date" name="date" required>
            <input type="hidden" name="transc_type" value="wit_transc">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="product-list list">
            <table>
                <tr>
                    <th>Ref code.</th>
                    <th>Amount</th>
                    <th>Date</th>
                </tr>
                <tbody id="wit_tbody">
                {% for t in wit_transc %}
                <tr>
                        <td>{{t.ref_code}}</td>
                        <td>{{t.amount}}</td>
                        <td>{{t.date}}</td>
                    </tr> 
                {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="bal">
            <h4>Account balance(Ksh): {{account.balance}}/=</h4>
        </div>
    </section>
    <section class="sec sec2">
        <h2>Transactions made to you</h2>
        <form action="#" method="get" data-url="{% url 'search' %}" class="search-form">
            <input type="search" name="query" placeholder="search by ref code..." required>
            <input type="hidden" name="transc_type" value="gen_transc">
            <button type="submit"><i class="fas fa-search"></i></button>
            <br><span style="font-size: 12px;">Or by date</span>
        </form>
        <form action="#" method="get" data-url="{% url 'search' %}" class="search-form">
            <input type="date" name="date" required>
            <input type="hidden" name="transc_type" value="gen_transc">
            <button type="submit"><i class="fas fa-search"></i></button>
        </form>
        <div class="item-list list">
            <table>
                <tr>
                    <th>Ref code.</th>
                    <th>Name</th>
                    <th>Number</th>
                    <th>Amount(Ksh)</th>
                    <th>Date</th>
                </tr>
                <tbody id="gen_tbody">
                {% for t in gen_transc %}
                    <tr>
                        <td>{{t.ref_code}}</td>
                        <td>{{t.name}}</td>
                        <td>{{t.number}}</td>
                        <td>{{t.amount}}</td>
                        <td>{{t.date}}</td>
                    </tr>
                {% endfor %}
                </tbody>
                
            </table>
        </div>

    </section>
    <!-- Search Loader -->
    <div class="loader-wrapper"> 
        <div class="overlay"></div>
        <div class="loader">
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
            <div class="stick"></div>
        </div>
    </div>
</section>

</main>
{% endblock %}